package home

import "github.com/shahinrahimi/bookbrowse/views/layout"

templ Index() {
	@layout.Main() {
		<div>
			<h1 class="bg-red-500 text-white">Welcom to <strong>BOOKBROWSE</strong></h1>
		</div>
	}
}
