package layout

templ Footer() {
	<footer class="flex flex-col gap-2 sm:flex-row py-6 w-full shrink-0 items-center px-6 md:px-8 lg:px-10 border-t">
		<p class="text-xs text-muted-foreground">© 2024 Free Book API. All rights reserved.</p>
		<nav class="sm:ml-auto flex gap-4 sm:gap-6">
			<a class="text-xs hover:underline underline-offset-4" href="#">
				Terms of Service
			</a>
		</nav>
	</footer>
}
